.DS_Store
.Rproj.user
.Rhistory
*.Rproj
.RData
.vscode
# local history
/.history
# matlab temp files
*.m~
*.asv
# exp data
/7T/exp/Data
/blind/exp/Data
/blind/exp/odor
/monkey/rating/Data
# rmarkdown files and cache
/7T/odor/*_cache
/7T/odor/*_files
/7T/odor/*.html
/blind/*_cache
/blind/*_files
/blind/*.html
/7T/odor/*/*_cache
/7T/odor/*/*_files
/7T/odor/*/*.html
# word to pictures folders
/learning/ResourceFolder
/learning/ParameterSetting
/learning/PicturesFolder
/learning/TextFolder
# python
__pycache__/